body
{
    background: #E8DEF8;
    box-sizing: border-box;
}
header
{
    background: #0067B1;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    height: 75px;
}
header img 
{
    width: 100px;
    margin-left: 30px;
    margin-top: 15px;
}
.welcome-message
{
    margin-left: 50px;
    margin-top: 100px;
}
.login
{
    margin-left: 50px;
    margin-top: 50px;
    font-size: 30px;
    width: 350px;
}
.login label 
{
    display: block;
    margin-top: 10px;
}
input[type="text"], input[type="password"] 
{
    width: 350px;
    height: 40px;
    border-radius: 5px;
    margin-top: 10px;
}
.admin-button 
{
    background: #82ADCC;
    border-radius: 5px;
    width: 166px;
    height: 41px;
    font-size: 20px;
    margin-top: 20px;
    margin-left: 125px;
}
.dog-picture img
{
  float: right;
  width: 70%;
  margin-right: 100px;
  margin-top: -600px;
}

.submit-button
{
    border-radius: 5px;
    width: 166px;
    height: 41px;
    font-size: 20px;
    background: #82ADCC;
    margin-left: 75px;
    margin-top: 50px;
}
